STEP = 0.001

SIMULATION_TIME = 600
SAMPLING_TIME = 300
SAMPLING_INTERVAL = 100

MAX_SPEED = 120
LIMITING_SPEED = [0, MAX_SPEED / 3.6]
LIMITING_ACCELERATION = [-2, 1]
CAR_SIZE = [4.5, 1.7]
CYCLE_INDEX = int(SIMULATION_TIME / STEP)

CAR_NUM = 50

DICT_FOLLOWING_MODEL = {}